.canvas {
  position: relative;
}

.title {
  font-family: 'Limelight', sans-serif;
  color: #DCABE4;
  text-shadow: 2px 2px 2px #000000;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin-top: 1em;
}

.bottom-right {
  position: absolute; 
  right: 100%;
  top: 100%;
  left: 65%;
  transform: translate(500%, 500%); 
}

.map-container {
  position: absolute;
  top: 50%;
  left: 1%;
}

.city-name {
  font-family: 'Limelight', sans-serif;
  font-size: 1em;
  color: black;
}

.city-popup {
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 10%;
}

.city-button {
  background-color: #DCABE4;
  font-family: 'Limelight', sans-serif;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 10px 10px;
  margin: 0.5em;
  border-radius: 10%;
}

/* Define the legend style */
.legend {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 350px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3px;
  border: 3px solid #ddd;
  border-radius: 10px;
  display: flex;
}
.legend-column {
  flex: 1; /* Equal width for each column */
  margin-right: 10px; /* Adjust the spacing between columns */
}

/* Style for each legend item (color box and text) */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}